[Unit]
Description=Catcoin Wallet Node
After=network.target

[Service]
User=explorer
Group=explorer
PIDFile=/home/explorer/.catcoin/catcoind.pid
ExecStart=/home/explorer/coinds/catcoind -daemon -pid=/home/explorer/.catcoin/catcoind.pid \
-conf=/home/explorer/.catcoin/catcoin.conf -datadir=/home/explorer/.catcoin -disablewallet
Type=simple
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
