[Unit]
Description=Catcoin service
After=network.target
[Service]
Type=forking
ExecStart=/usr/local/bin/catcoind -conf=/home/explorer/.catcoin/catcoin.conf -datadir=/home/explorer/.catcoin -daemon
ExecStop=/usr/local/bin/catcoind -conf=/home/explorer/.catcoin/catcoin.conf -datadir=/home/explorer/.catcoin stop
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-abnormal
TimeoutStopSec=300
PrivateTmp=true
LimitNOFILE=65536
User=explorer
[Install]
WantedBy=multi-user.target
