[Unit]
Description=Eiquidus service
After=network.target
[Service]
Type=forking
ExecStart=
ExecStop=
ExecReload=/usr/local/bin/kill -s HUP $MAINPID
Restart=on-abnormal
TimeoutStopSec=300
PrivateTmp=true
LimitNOFILE=65536
User=explorer
[Install]
WantedBy=multi-user.target
