[Unit]
Description=Catcoin Block Explorer
Requires=catcoind.service
After=network.target

[Service]
User=explorer
Group=explorer
WorkingDirectory=/home/explorer/eiquidus
ExecStart=/usr/bin/npm start
Type=simple
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
